<div>
  <DModalBody
    @rawTitle={{i18n
      "discourse_subscriptions.user.subscriptions.operations.destroy.confirm"
    }}
  >
    <Input @type="checkbox" @checked={{refund}} />
    {{i18n "discourse_subscriptions.admin.ask_refund"}}
  </DModalBody>

  <div class="modal-footer">
    {{#if model.loading}}
      <LoadingSpinner />
    {{else}}
      <DButton
        @label="yes_value"
        @action={{route-action
          "cancelSubscription"
          (hash subscription=model refund=refund)
        }}
        @icon="times"
        class="btn-danger"
      />
      <DButton @label="no_value" @action={{route-action "closeModal"}} />
    {{/if}}
  </div>
</div>