{{#if shouldShow}}
  {{d-button
    icon="times"
    action="dismissBanner"
    class="close"
  }}
  <div class="campaign-banner-info">
    <h2 class="campaign-banner-info-header">{{i18n 'discourse_subscriptions.campaign.title'}}</h2>
    {{#if isGoalMet}}
      <p class="campaign-banner-info-success">🎉 We've met our goal! 🎉</p>
    {{else}}
      <p class="campaign-banner-info-description">{{i18n 'discourse_subscriptions.campaign.body'}}</p>
      {{#link-to "s" class="btn btn-primary campaign-banner-info-button"}}
        {{d-icon "far-heart"}} {{d-icon "heart" class="hover-heart"}} {{i18n 'discourse_subscriptions.campaign.button'}}
      {{/link-to}}
    {{/if}}
  </div>
  <div class="campaign-banner-progress">
    {{#if subscriberGoal}}
      <progress class="campaign-banner-progress-bar" value="{{subscribers}}" max="{{siteSettings.discourse_subscriptions_campaign_goal}}"/>
      <p class="campaign-banner-progress-description">
        <strong>{{subscribers}}</strong> {{i18n 'discourse_subscriptions.campaign.of'}} 
        <strong>{{goalTarget}}</strong> 
        {{i18n 'discourse_subscriptions.campaign.subscribers'}}
      </p>
    {{else}}
      <progress class="campaign-banner-progress-bar" value="{{amountRaised}}" max="{{siteSettings.discourse_subscriptions_campaign_goal}}"/>
      <p class="campaign-banner-progress-description">
        <strong>{{format-currency currency amountRaised}}</strong> of 
        <strong>{{format-currency currency goalTarget}}</strong> 
        {{i18n 'discourse_subscriptions.campaign.raised'}}
      </p>
    {{/if}}
  </div>
{{/if}}

