{{#unless dismissed}}
  {{d-button
    icon="times"
    action="dismissBanner"
  }}
  <h2>{{i18n 'discourse_subscriptions.campaign.title'}}</h2>
  <p>{{i18n 'discourse_subscriptions.campaign.body'}}</p>
  {{#link-to "s" class="btn btn-primary"}}
    {{i18n 'discourse_subscriptions.campaign.button'}}
  {{/link-to}}
  {{#if isGoalMet}}
    <p>🎉 We've met our goal! 🎉</p>
  {{/if}}
  {{#if subscriberGoal}}
    <progress value="{{subscribers}}" max="{{siteSettings.discourse_subscriptions_campaign_goal}}"/>
    <p><strong>{{subscribers}}</strong>/<strong>{{goalTarget}}</strong> {{i18n 'discourse_subscriptions.campaign.subscribers'}}</p>
  {{else}}
    <progress value="{{amountRaised}}" max="{{siteSettings.discourse_subscriptions_campaign_goal}}"/>
    <p><strong>{{format-currency currency amountRaised}}</strong>/<strong>{{format-currency currency goalTarget}}</strong> {{i18n 'discourse_subscriptions.campaign.raised'}}</p>
  {{/if}}
{{/unless}}
