<h2>{{i18n 'discourse_subscriptions.campaign.title'}}</h2>
<p>{{i18n 'discourse_subscriptions.campaign.body'}}</p>
<h3>{{i18n 'discourse_subscriptions.campaign.goal'}}</h3>
<p><strong>{{goalStatus}}/{{goalTarget}}</strong> {{i18n 'discourse_subscriptions.campaign.subscribers'}}</p>
<progress value="{{goalStatus}}" max="{{goalTarget}}"/><br />
{{#link-to "s" class="btn btn-primary"}}
  {{i18n 'discourse_subscriptions.campaign.button'}}
{{/link-to}}
