{{#if hasSubscriptions}}
  <div class="subscription-list">
    <div class="underline">{{i18n 'discourse_donations.donations.subscriptions'}}</div>
    <ul>
      {{#each subscriptions as |s|}}
        <li>{{donation-subscription s.subscription}}</li>

        {{#if s.invoices}}
          <ul>
            {{#each s.invoices as |invoice|}}
              <li>{{donation-invoice invoice}}</li>
            {{/each}}
          </ul>
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if hasCharges}}
  <div class="charge-list">
    <div class='underline'>{{i18n 'discourse_donations.donations.charges'}}</div>
    <ul>
      {{#each charges as |charge|}}
        <li>{{donation-charge charge}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
