<DButton
  @action={{action "planClick"}}
  @class={{concat-class "btn-discourse-subscriptions-subscribe" selectedClass}}
>
  <span class="interval">
    {{#if this.recurringPlan}}
      {{i18n
        (concat
          "discourse_subscriptions.plans.interval.adverb."
          this.plan.recurring.interval
        )
      }}
    {{else}}
      {{i18n "discourse_subscriptions.one_time_payment"}}
    {{/if}}
  </span>

  <span class="amount">
    {{format-currency this.plan.currency this.plan.amountDollars}}
  </span>
</DButton>