
{{#ds-button
  id="discourse-subscriptions-payment-type-plan"
  selected=true
  class="btn-discourse-subscriptions-payment-type"
}}
  {{i18n "discourse_subscriptions.plans.purchase"}}
{{/ds-button}}

{{#ds-button
  id="discourse-subscriptions-payment-type-payment"
  selected=false
  class="btn-discourse-subscriptions-payment-type"
}}
  {{i18n "discourse_subscriptions.payment.purchase"}}
{{/ds-button}}

<hr>

<p>
  {{i18n "discourse_subscriptions.plans.select"}}
</p>

<div id="subscribe-buttons">
  {{#each plans as |plan|}}
    {{#ds-button
      action="clickPlan"
      actionParam=plan
      selected=plan.selected
      class="btn-discourse-subscriptions-subscribe"
    }}
      <div class="interval">
        {{i18n (concat "discourse_subscriptions.plans.interval.adverb." plan.interval)}}
      </div>
      <span class="amount">
        {{format-currency plan.currency plan.amountDollars}}
      </span>
    {{/ds-button}}
  {{/each}}
</div>
