<form id="payment-form" class="form-horizontal">

  <div class="control-group" style="width: 550px;">
    <label class="control-label" for="card-element">{{i18n 'discourse_donations.amount'}}</label>
    <div class="controls controls-dropdown">
      {{combo-box valueAttribute="value" content=donateAmounts value=amount}}
    </div>
  </div>

  <div class="control-group" style="width: 550px;">
    <label class="control-label" for="card-element">{{i18n 'discourse_donations.card'}}</label>
    <div id="card-element" class="controls"></div>
  </div>

  <div class="control-group save-button">
    <div class="controls">
      {{#d-button action="submitStripeCard" disabled=transactionInProgress class="btn btn-primary btn-payment"}}
        {{i18n 'discourse_donations.submit'}}
      {{/d-button}}

      {{#if transactionInProgress}}
        {{loading-spinner size="small"}}
      {{/if}}

      {{#if result}}
        <span>{{result}}</span>
      {{/if}}
    </div>
  </div>
</form>
