<div class="control-group">
  <label class="control-label">
    {{i18n 'discourse_donations.type'}}
  </label>
  <div class="controls controls-dropdown">
    {{combo-box content=donationTypes value=type}}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="card-element">
    {{i18n 'discourse_donations.amount'}}
    {{siteSettings.discourse_donations_currency}}
  </label>
  <div class="controls controls-dropdown">
    {{combo-box valueAttribute="value" content=donateAmounts value=amount}}
  </div>
</div>

{{#if siteSettings.discourse_donations_enable_transaction_fee}}
  <div class="control-group">
    <div class="controls">
      {{input type="checkbox" checked=includeTransactionFee}}
      <span>{{i18n 'discourse_donations.transaction_fee.label' transactionFee=transactionFee currency=siteSettings.discourse_donations_currency}}</span>
      <div class='transaction-fee-description' {{action 'toggleTransactionFeeDescription'}}>
        {{d-icon 'info-circle'}}
        {{#if showTransactionFeeDescription}}
          <div class="transaction-fee-description-modal">
            {{i18n 'discourse_donations.transaction_fee.description'}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>
      {{i18n 'discourse_donations.transaction_fee.total'}}
    </label>
    <div class="controls">
      {{siteSettings.discourse_donations_currency}}
      {{totalAmount}}
      {{period}}
    </div>
  </div>
{{/if}}

<div class="control-group" style="width: 550px;">
  <label class="control-label" for="card-element">{{i18n 'discourse_donations.card'}}</label>
  <div class="controls">
    <div id="card-element"></div>
    {{#if stripeError}}
      <div class="stripe-error">{{stripeError}}</div>
    {{/if}}
  </div>
</div>

{{#unless currentUser}}
  <div class="control-group">
    <label class="control-label" for="card-element">{{i18n 'user.email.title'}}</label>
    <div class="controls">
      {{text-field value=email}}
      {{#if showEmailError}}
        <div class="error">{{i18n 'user.email.invalid'}}</div>
      {{else}}
        <div class="instructions">{{i18n 'discourse_donations.email_instructions'}}</div>
      {{/if}}
    </div>
  </div>

  {{#if create_accounts}}
    <div class="control-group">
      <label class="control-label" for="card-element">{{i18n 'user.username.title'}}</label>
      <div class="controls">
        {{text-field value=username}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="card-element">{{i18n 'user.name.title'}}</label>
      <div class="controls">
        {{text-field value=name}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="card-element">{{i18n 'user.password.title'}}</label>
      <div class="controls">
        {{input type="password" value=password}}
      </div>
    </div>
  {{/if}}
{{/unless}}

<div class="control-group save-button">
  <div class="controls">

    {{#d-button action="submitStripeCard" class="btn btn-primary btn-payment"}}
      {{#if create_accounts}}
        {{i18n 'discourse_donations.submit_with_create_account'}}
      {{else}}
        {{i18n 'discourse_donations.submit'}}
      {{/if}}
    {{/d-button}}

    {{#if transactionInProgress}}
      {{loading-spinner size="small"}}
    {{/if}}

    {{#each result as |message|}}
      <p>{{{message}}}</p>
    {{/each}}

    {{#if success}}
      <p>{{i18n 'discourse_donations.messages.success'}}</p>
    {{/if}}
  </div>
</div>
