
<div class="discourse-patrons-section-columns">
  <div class="section-column discourse-patrons-confirmation-billing">
    <h2>
      {{model.product.name}}
    </h2>
    <p>
      {{model.product.description}}
    </p>
  </div>
  <div class="section-column">
    {{combo-box valueAttribute="id" content=model.plans value=model.product.plan}}

    {{#d-button
      action="stripePaymentHandler"
      class="btn btn-primary btn-payment btn-discourse-patrons"}}
      {{i18n 'discourse_patrons.subscribe.buttons.subscribe'}}
    {{/d-button}}

    <hr>

    <h4>{{i18n 'discourse_patrons.subscribe.card.title'}}</h4>
    {{subscribe-card cardElement=cardElement}}

    {{!-- <div id="discourse-patrons-subscribe-customer">
      <h4>{{i18n 'discourse_patrons.subscribe.customer.title'}}</h4>
      <div class="discourse-patrons-subscribe-customer-empty">
        {{i18n 'discourse_patrons.subscribe.customer.empty'}}
      </div>
    </div> --}}
  </div>
</div>
