
<div class="discourse-patrons-section-columns">
  <div class="section-column discourse-patrons-confirmation-billing">
    <h2>
      {{model.product.name}}
    </h2>
    <p>
      {{model.product.description}}
    </p>
  </div>
  <div class="section-column">
    {{#unless model.product.subscribed}}
      <h2>
        {{i18n 'discourse_patrons.subscribe.card.title'}}
      </h2>

      {{subscribe-card cardElement=cardElement}}

      {{#if loading}}
        {{loading-spinner}}
      {{else}}
        {{combo-box valueAttribute="id" content=model.plans value=model.product.plan}}

        {{#d-button
          disabled=loading
          action="stripePaymentHandler"
          class="btn btn-primary btn-payment btn-discourse-patrons pull-right"}}
          {{i18n 'discourse_patrons.subscribe.buttons.subscribe'}}
          {{/d-button}}
      {{/if}}

    {{/unless}}
  </div>
</div>
