{{#d-section class="user-secondary-navigation" pageClass="user-subscriptions"}}

  <h3>{{i18n 'discourse_patrons.user.subscriptions.title'}}</h3>

  {{#if model}}
    <table class="topic-list">
      <thead>
        <th>{{i18n 'discourse_patrons.user.billing.subscriptions.created_at'}}</th>
        <th></th>
      </thead>
      {{#each model as |subscription|}}
        <tr>
          <td>{{format-date subscription.createdFormatted}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <p>{{i18n 'discourse_patrons.user.subscriptions_help'}}</p>
  {{/if}}

{{/d-section}}
