
<h4>{{i18n 'discourse_patrons.admin.products.title'}}</h4>

<form class="form-horizontal">
  <p>
    <label for="name">{{i18n 'discourse_patrons.admin.products.product.name'}}</label>
    {{input type="text" name="name" value=model.product.name}}
  </p>
  <p>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.product.group'}}</label>
    {{combo-box valueAttribute="value" content=model.groups value=model.product.groupName}}
  </p>
  <p>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.product.active'}}</label>
    {{input type="checkbox" checked=model.product.active}}
  </p>
</form>

<div class="buttons">
  {{#if model.product.isNew}}
    {{d-button label="discourse_patrons.admin.products.operations.create" action="createProduct" icon="plus"}}
  {{else}}
    {{d-button label="discourse_patrons.admin.products.operations.update" action="updateProduct" icon="fa-save"}}
  {{/if}}
</div>
