<h3>{{i18n "discourse_subscriptions.admin.dashboard.title"}}</h3>

<LoadMore @selector=".discourse-patrons-table tr" @action={{action "loadMore"}}>
  {{#if model}}
    <table class="table discourse-patrons-table">
      <thead>
        <tr>
          <th>
            {{i18n "discourse_subscriptions.admin.dashboard.table.head.user"}}
          </th>
          <th>
            {{i18n
              "discourse_subscriptions.admin.dashboard.table.head.payment_intent"
            }}
          </th>
          <th>
            {{i18n
              "discourse_subscriptions.admin.dashboard.table.head.receipt_email"
            }}
          </th>
          <th
            role="button"
            onclick={{action "orderPayments" "created_at"}}
            class="sortable"
          >
            {{i18n "created"}}
          </th>
          <th
            role="button"
            onclick={{action "orderPayments" "amount"}}
            class="sortable amount"
          >
            {{i18n "discourse_subscriptions.admin.dashboard.table.head.amount"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |payment|}}
          <tr>
            <td>
              <LinkTo
                @route="adminUser.index"
                @models={{array payment.user_id payment.username}}
              >
                {{payment.username}}
              </LinkTo>
            </td>
            <td>
              <LinkTo
                @route="patrons.show"
                @model={{payment.payment_intent_id}}
              >
                {{html-safe payment.payment_intent_id}}
              </LinkTo>
            </td>
            <td>{{payment.receipt_email}}</td>
            <td>{{html-safe (format-duration payment.created_at_age)}}</td>
            <td class="amount">{{payment.amount_currency}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</LoadMore>