
<h2>{{i18n 'discourse_patrons.title' site_name=siteSettings.title}}</h2>

<ul class="nav nav-pills">
  {{nav-item route='adminPlugins.discourse-patrons' label='discourse_patrons.admin.dashboard.title'}}
  {{nav-item route='adminPlugins.discourse-patrons.plans' label='discourse_patrons.admin.plans.title'}}
  {{nav-item route='adminPlugins.discourse-patrons.subscriptions' label='discourse_patrons.admin.subscriptions.title'}}
</ul>

<hr>

{{outlet}}
