<table class="table discourse-patrons-table">
  <thead>
    <th>{{i18n "discourse_subscriptions.admin.plans.plan.plan_id"}}</th>
    <th>{{i18n "discourse_subscriptions.admin.plans.plan.nickname.title"}}</th>
    <th>{{i18n "discourse_subscriptions.admin.plans.plan.interval"}}</th>
    <th>{{i18n "discourse_subscriptions.admin.plans.plan.amount"}}</th>
    <th></th>
  </thead>
  <tbody>
    {{#each this.model as |plan|}}
      <tr>
        <td>{{plan.id}}</td>
        <td>{{plan.nickname}}</td>
        <td>{{plan.interval}}</td>
        <td>{{plan.unit_amount}}</td>
        <td class="td-right">
          <DButton
            @action={{action "editPlan" plan.id}}
            @icon="far-edit"
            class="btn no-text btn-icon"
          />
          <DButton
            @action={{route-action "destroyPlan"}}
            @actionParam={{plan}}
            @icon="trash-alt"
            class="btn-danger btn no-text btn-icon"
          />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>