
<h3>{{i18n 'discourse_patrons.title' site_name=siteSettings.title}}</h3>

<table class="table discourse_patrons_admin">
  <thead>
    <tr>
      <th>{{i18n 'discourse_patrons.admin.table.head.user'}}</th>
      <th>{{i18n 'discourse_patrons.admin.table.head.payment_intent'}}</th>
      <th>{{i18n 'discourse_patrons.admin.table.head.receipt_email'}}</th>
      <th>{{i18n 'created'}}</th>
      <th class="amount">{{i18n 'discourse_patrons.admin.table.head.amount'}}</th>
    </tr>
  </thead>
  {{#each model as |payment|}}
    <tr>
      <td>{{payment.user_id}}</td>
      <td>{{{stripe-payment-link payment}}}</td>
      <td>{{payment.receipt_email}}</td>
      <td>{{{format-duration payment.created_at_age}}}</td>
      <td class="amount">{{payment.amount_currency}}</td>
    </tr>
  {{/each}}
</table>
