
<h4>{{i18n 'discourse_patrons.admin.products.title'}}</h4>

<form class="form-horizontal">
  <div>
    <label for="name">{{i18n 'discourse_patrons.admin.plans.show.name'}}</label>
    {{input type="text" name="name" value=model.product.name}}
  </div>
  <div>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.show.group'}}</label>
    {{combo-box valueAttribute="value" content=model.groups value=model.product.groupName}}
  </div>
  <div>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.show.active'}}</label>
    {{input type="checkbox" checked=model.product.active}}
  </div>
</form>

<div class="buttons">
  {{d-button label="discourse_patrons.admin.products.show.create" action="createProduct" icon="plus"}}
</div>
