
<h2>{{i18n 'discourse_subscriptions.title' site_name=siteSettings.title}}</h2>

<ul class="nav nav-pills">
  {{!-- {{nav-item route='adminPlugins.discourse-subscriptions.dashboard' label='discourse_subscriptions.admin.dashboard.title'}} --}}
  {{nav-item route='adminPlugins.discourse-subscriptions.products' label='discourse_subscriptions.admin.products.title'}}
  {{nav-item route='adminPlugins.discourse-subscriptions.coupons' label='discourse_subscriptions.admin.coupons.title'}}
  {{nav-item route='adminPlugins.discourse-subscriptions.subscriptions' label='discourse_subscriptions.admin.subscriptions.title'}}
</ul>

<hr>

<div id="discourse-subscriptions-admin">
  {{outlet}}
</div>
