
<h4>{{i18n 'discourse_patrons.admin.products.title'}}</h4>

<form class="form-horizontal">
  <p>
    <label for="name">{{i18n 'discourse_patrons.admin.products.product.name'}}</label>
    {{input type="text" name="name" value=model.product.name}}
  </p>
  <p>
    <label for="statement_descriptor">
      {{i18n 'discourse_patrons.admin.products.product.statement_descriptor.title'}}
    </label>
    {{input type="text" name="statement_descriptor" value=model.product.statement_descriptor}}
    <div class="control-instructions">
      {{i18n 'discourse_patrons.admin.products.product.statement_descriptor.description'}}
    </div>
  </p>
  <p>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.product.group.title'}}</label>
    {{combo-box valueAttribute="name" content=model.groups value=model.product.metadata.group_name}}
    <div class="control-instructions">
      {{i18n 'discourse_patrons.admin.products.product.group.description'}}
    </div>
  </p>
  <p>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.product.active'}}</label>
    {{input type="checkbox" checked=model.product.active}}
  </p>
</form>

<div class="buttons">
  {{#if model.product.isNew}}
    {{d-button label="discourse_patrons.admin.products.operations.create" action="createProduct" icon="plus"}}
  {{else}}
    {{d-button label="discourse_patrons.admin.products.operations.update" action="updateProduct" icon="fa-save"}}
  {{/if}}
</div>
