
<h2>{{i18n 'discourse_subscriptions.title' site_name=siteSettings.title}}</h2>

<div class="discourse-subscriptions-buttons">
  {{#if campaignEnabled}}
    {{d-button
      label="discourse_subscriptions.campaign.refresh_campaign"
      icon="sync-alt"
      action=(action 'triggerManualRefresh')
    }}
  {{else}}
    {{d-button
      label="discourse_subscriptions.campaign.one_click_campaign"
      icon="plus-square"
      action=(action 'createOneClickCampaign')
    }}
  {{/if}}
</div>

<ul class="nav nav-pills">
  {{!-- {{nav-item route='adminPlugins.discourse-subscriptions.dashboard' label='discourse_subscriptions.admin.dashboard.title'}} --}}
  {{nav-item route='adminPlugins.discourse-subscriptions.products' label='discourse_subscriptions.admin.products.title'}}
  {{nav-item route='adminPlugins.discourse-subscriptions.coupons' label='discourse_subscriptions.admin.coupons.title'}}
  {{nav-item route='adminPlugins.discourse-subscriptions.subscriptions' label='discourse_subscriptions.admin.subscriptions.title'}}
</ul>

<hr>

<div id="discourse-subscriptions-admin">
  {{outlet}}
</div>
