
<h4>{{i18n 'discourse_patrons.admin.plans.title'}}</h4>

<form class="form-horizontal">
  <div>
    <label for="name">{{i18n 'discourse_patrons.admin.plans.show.name'}}</label>
    {{input type="text" name="name" value=model.name}}
  </div>
  <div>
    <label for="amount">{{i18n 'discourse_patrons.admin.plans.show.amount'}}</label>
    {{input type="text" name="name" value=model.amount}}
  </div>
  <div>
    <label for="interval">{{i18n 'discourse_patrons.admin.plans.show.interval'}}</label>
    {{combo-box valueAttribute="value" content=model.intervals value=model.interval}}
  </div>
</form>

<div class="buttons">
  {{d-button label="discourse_patrons.admin.plans.show.create" action="createPlan" icon="plus"}}
</div>
