
<table class="table discourse-patrons-admin">
  <thead>
    <th>{{i18n 'discourse_patrons.admin.products.product.product_id'}}</th>
    <th>{{i18n 'discourse_patrons.admin.products.product.name'}}</th>
    <th>{{i18n 'discourse_patrons.admin.products.product.group'}}</th>
    <th>{{i18n 'discourse_patrons.admin.products.product.active'}}</th>
    <th></th>
  </thead>
  {{#each model as |product|}}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.metadata.group_name}}</td>
      <td>{{product.active}}</td>
      <td class="td-right">
        {{#link-to "adminPlugins.discourse-patrons.products.show" product.id class="btn no-text btn-icon"}}
          {{d-icon "far-edit"}}
        {{/link-to}}
        {{d-button
          action=(route-action "destroyProduct")
          actionParam=product
          icon="trash-alt"
          class="btn-danger btn no-text btn-icon"}}
      </td>
    </tr>
  {{/each}}
</table>
