<h4>{{i18n 'discourse_patrons.admin.products.title'}}</h4>

<form class="form-horizontal">
  <p>
    <label for="name">{{i18n 'discourse_patrons.admin.products.product.name'}}</label>
    {{input type="text" name="name" value=model.product.name}}
  </p>
  <p>
    <label for="statement_descriptor">
      {{i18n 'discourse_patrons.admin.products.product.statement_descriptor'}}
    </label>
    {{input type="text" name="statement_descriptor" value=model.product.statement_descriptor}}
    <div class="control-instructions">
      {{i18n 'discourse_patrons.admin.products.product.statement_descriptor_help'}}
    </div>
  </p>
  <p>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.product.group'}}</label>
    {{combo-box valueAttribute="name" content=model.groups value=model.product.metadata.group_name}}
    <div class="control-instructions">
      {{i18n 'discourse_patrons.admin.products.product.group_help'}}
    </div>
  </p>
  <p>
    <label for="interval">{{i18n 'discourse_patrons.admin.products.product.active'}}</label>
    {{input type="checkbox" checked=model.product.active}}
  </p>
</form>

<h4>{{i18n 'discourse_patrons.admin.plans.title'}}</h4>

<p>
  <table class="table discourse-patrons-admin">
    <thead>
      <th>{{i18n 'discourse_patrons.admin.plans.plan.plan_id'}}</th>
      <th>{{i18n 'discourse_patrons.admin.plans.plan.nickname'}}</th>
      <th>{{i18n 'discourse_patrons.admin.plans.plan.interval'}}</th>
      <th>{{i18n 'discourse_patrons.admin.plans.plan.amount'}}</th>
      <th class="td-right">
        {{#link-to "adminPlugins.discourse-patrons.products.show.plans.show" model.product.id "new" class="btn"}}
          {{i18n 'discourse_patrons.admin.plans.operations.add'}}
        {{/link-to}}
      </th>
    </thead>
    {{#each model.plans as |plan|}}
      <tr>
        <td>{{plan.id}}</td>
        <td>{{plan.nickname}}</td>
        <td>{{plan.interval}}</td>
        <td>{{plan.amount}}</td>
        <td class="td-right">
          {{#link-to "adminPlugins.discourse-patrons.products.show.plans.show" model.product.id plan.id class="btn no-text btn-icon"}}
            {{d-icon "far-edit"}}
          {{/link-to}}
          {{!-- {{d-button
            action=(route-action "destroyPlan")
            actionParam=plan
            icon="trash-alt"
            class="btn-danger btn no-text btn-icon"}} --}}
        </td>
      </tr>
    {{/each}}
  </table>
</p>

<section>
  <hr>

  <div class="pull-right">
    {{#if model.product.isNew}}
      {{d-button label="discourse_patrons.admin.products.operations.create" action="createProduct" icon="plus"}}
    {{else}}
      {{d-button label="discourse_patrons.admin.products.operations.update" action="updateProduct" icon="check"}}
    {{/if}}
  </div>

</section>

{{outlet}}
