<h3>{{i18n
    "discourse_subscriptions.user.subscriptions.update_card.heading"
    sub_id=model
  }}</h3>

<div class="form-vertical">
  <div class="control-group">
    {{subscribe-card cardElement=cardElement class="input-xxlarge"}}
  </div>

  <SaveControls
    @action={{action "updatePaymentMethod"}}
    @saved={{saved}}
    @saveDisabled={{loading}}
    @savingText="discourse_subscriptions.user.subscriptions.update_card.single"
  />
</div>