
{{#unless model.error}}
  <h3>{{i18n 'discourse_patrons.heading.success' site_name=siteSettings.title}}</h3>

  <p>
    {{cook-text siteSettings.discourse_patrons_success_page}}
  </p>

  <table>
    <tr>
      <td>{{i18n 'discourse_patrons.payment_intent_id'}}</td>
      <td>{{model.id}}</td>
    </tr>
    <tr>
      <td>{{i18n 'discourse_patrons.amount'}}</td>
      <td>{{model.amount}}</td>
    </tr>
  </table>
{{/unless}}
